include README.md
include LICENSE
include CHANGELOG.md
include SECURITY.md
include CONTRIBUTING.md
include requirements.txt
recursive-include empusa *.py
recursive-include empusa/hooks *.json *.c *.cpp *.cs *.csproj *.go *.mod *.pl *.rs *.toml *.md .gitkeep
include empusa/hooks/modules/make-multi-target/Makefile
